/**
 * Nome do arquivo: styles.css
 * Data de criação: 06/05/2025
 * Autor: Jean Caetano
 * Matrícula: 01735073
 *
 * Descrição:
 * Este componente React implementa um dashboard de cartas do Pokémon TCG.
 * Funcionalidades:
 * - Campo de busca por código de card
 * - Exibição detalhada do card pesquisado
 * - Persistência e exibição de cartas salvas no localStorage
 * - Estilização com Bootstrap
 */
 /* Cor da pagina */
 /* Estilo de fontes */
.small-strong { /*Negrito menor */
  font-size: 14px; 
}
  /*Estilos de onde guarda as cartinhas salvas */
   
/* Classe para estilo, responsavel por animar um leve tremor na carta */
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}
.saved-cards-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.saved-card-img {
  width: 90px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 5px;
  margin-bottom: 6px;
}
  
.saved-card-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.saved-card-container {
  position: relative;
  display: inline-block;
}

.remove-btn {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: absolute;
  top: 4px;
  right: 4px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  padding: 0;
}

.remove-btn:hover {
  transform: scale(1.30);
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.8)
}
  /* Estilo dos detalhes da carta */
.card-details {
  background-color: #f8f9fa;
  padding: -10px;
  flex: 0 0 68.75%;
  margin-left: 45px;
}

.descricao {
  max-width: 190px;
}

.conteiner-card-details { /* CAIXA PAI */
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-conjunto {
  flex-direction: row;
}

.info-name {
  padding-top: -20px !important; 
}
.list-group {
  margin-bottom: 8px;
  border-radius: 4px !important;
}

.lista-fraquezas {
  padding-top: 6px;
  border-radius: 4px !important;
}

  /* Estilos para a barra de busca */
.search-bar {
  max-width: 600px;
  margin: 0 auto;
}

.search-bar input {
  border-radius: 4px 0 0 4px !important;
}
 /* Estilos para o botão de pesquisa */
.search-button {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.search-button:hover {
  transform: scale(1.020);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}